/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    --page-background-image: url("../images/cover-image-light.png");
    --text-color: var(--color-dark-2, #353430);
    --accent-color: var(--color-dark-2, #353430);
    --secondary-color: var(--color-pink-4, #ff8dcb);
    --highlight-color: var(--color-pink-3, #ffc2e6);
    --title-color: var(--color-dark-2, #353430);
    --page-background-color: var(--color-pink-1, #fff1f7);
    --color-o: var(--color-black-o, rgba(53,52,48, .4));
  }

  .theme-auto .decorated-zone__decor {
    display: none;
  }
}


.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --page-background-image: url("../images/cover-image-light.png");
  --text-color: var(--color-dark-2, #353430);
  --accent-color: var(--color-dark-2, #353430);
  --secondary-color: var(--color-pink-4, #ff8dcb);
  --highlight-color: var(--color-pink-3, #ffc2e6);
  --title-color: var(--color-dark-2, #353430);
  --page-background-color: var(--color-pink-1, #fff1f7);
  --color-o: var(--color-black-o, rgba(53,52,48, .4));
}

.theme-light .decorated-zone__decor {
  display: none;
}

