:root {
  --color-dark-1: #000028;
  --color-dark-2: #353430;

  --color-pink-1: #fff1f7;
  --color-pink-2: #f1b2ce;
  --color-pink-3: #ffc2e6;
  --color-pink-4: #ff8dcb;

  --color-purple-1: #db00ff;
  --color-purple-2: #ff0070;

  --page-font-family: "IBM Plex mono", monospace;
}



